{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block
body %}

<div class="container">
  <form action="/update/{{todo.sno}}" method="POST">
    <fieldset>
      <legend>Update Your Todo</legend>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          placeholder="Enter Title"
          value="{{ todo.title }}"
        />
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input
          type="text"
          id="desc"
          name="desc"
          class="form-control mb-3"
          placeholder="Enter Description"
          value="{{ todo.desc }}"
        />
      </div>
      <button type="submit" class="btn btn-dark">Update</button>
    </fieldset>
  </form>
</div>

<!-- Optional JavaScript; choose one of two! -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>

{% endblock body %}
